<div id="login_form">
  <%= form_for login_path do |f| %>
      <%= f.label :email %><br>
      <%= f.text_field :email %><br>

      <%= f.label :password %><br>
      <%= f.password_field :password %><br><br>

      <%= f.submit %>
  <% end %>
</div>
