<h1>Edit Profile:</h1>
<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br><br>

  <%= f.label :email %>
  <%= f.text_field :email %><br><br>

  <%= f.label :pic_url %>
  <%= f.text_field :pic_url %><br><br>

  <%= f.submit %><br>

<% end %>
