<%= @user.name %><br>
<%= @user.email %><br><br>
<span><%= link_to "Edit", edit_user_path(@user) %></span><br>
<span><%= link_to "Delete", user_path(@user), method: :delete %></span>

<% if @user.id == current_user.id  %>
  <%= link_to "Add Question", new_question_path %>
<% end %>

<div class="question-list">
  <ul>
    <% @user.questions.each do |question| %>
      <li><%= question.title %></li>
    <% end %>
  </ul>
</div>
