<ul>
  <%= form_for path_login do |f| %>
    <li>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </li>
    <li>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </li>
    <li> <%= f.submit %> </li>
  <% end %>
</ul>
