<div class="container-fluid">
  <div class="answers_list">

    <div class="answer-row">
    <% @answers.each do |answer| %>

      <div class="row">
        <div class="vote_container col-xs-2 col-sm-1">
          <div class="row" id="cheese_icons">
            <% if current_user %>
              <%= link_to "#{image_tag('/cheese_up.png')}".html_safe, answer_votes_path(answer.id, @vote), :method => :post %>
              <%#image_submit_tag("/cheese_up.png", answer_votes_path(answer.id, @vote), :method => :post, class:"cheese_img") %>
              <%=link_to "#{image_tag('/cheese_down.png')}".html_safe, votes_destroy_path(answer.id, @vote), :method => :delete %>
            <% end %>
          </div>
          <div class="vote_count">
            <%= answer.votes.count %>
          </div>
        </div>

        <div class="answer col-xs-10 col-sm-11">
          <strong>Answer:</strong><br>
          <%= answer.content %><br><br>

          By <%= answer.user.name %><br>
          Edited <%= answer.edited_time %><br>
          Answered <%= answer.answered_time %><br>
          <% if current_user %>
            <% if current_user.id == answer.user_id %>
              <%= link_to "Delete", [@question, answer], :method => :delete %><br>
              <%= link_to 'Edit', edit_question_answer_path(@question.id, answer) %>
            <% end %>
          <% end %>

          <hr>
          Comments: <br><br>
          <% answer.comments.each do |comment| %>
            <%= comment.content %> - <%= comment.user.name %> | Edited <%= comment.edited_time %>  | Answered <%= comment.answered_time %>
            <% if current_user.id == comment.user_id %>
              <%= link_to "Delete", [answer, comment], :method => :delete %>  |
              <%= link_to 'Edit', edit_answer_comment_path(answer.id, comment) %>
            <% end %><hr>
          <% end %>
          <% if current_user %>
            <%= link_to "Add Comment", new_answer_comment_path(answer) %>
          <% end %>
          <hr>
        </div>
      </div>
    <% end %>

</div>

  </div>
</div>
