<!DOCTYPE html>
<html>
<head>
  <title>MacOverflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <nav id="login-nav" class="navbar navbar-default">
    <%= render "layouts/navbar"%>
  </nav>
  <nav id="button-nav" class="navbar navbar-default">
    <ul class="nav nav-pills">
      <li class = "navbar-left"><%= button_to "Home", root_path, :class => "btn btn-default navbar-btn navbar-left", :method => :get %></li>
      <li class = "navbar-right"><%= link_to "Questions", questions_path, :class => "btn btn-default navbar-btn ", :method => :get %></li>
      <li class = "navbar-right"><%= link_to "Users", users_path, :class => "btn btn-default navbar-btn navbar-right", :method => :get %></li>
      <li class = "navbar-right"><%= link_to "Ask a Question", new_question_path, :class => "btn btn-default navbar-btn navbar-right", :method => :get %></li>
    </ul>
  </nav>
</header>
<div id="main-ct">
  <div class="container">
    <%= yield %>
  </div>
</div>
</body>
</html>
